/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
.c9/
tmp/
local/
w9/*
documents/*
appraisal_databank.conf
dump.rdb
appraisal_databank.development.conf
appraisal_databank.production.conf
public/packed/*
