/* =======================
   GLOBAL STYLES
========================= */
body {
    width: 100%;
    font-family: 'Crimson Text', serif;
    color: #fafafa;
}


html, body {
    min-height: 100vh;
}

button {
    background-color: #7D9138;
    padding: 4px 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: none;
}

button:hover{
     background-color: #9DB648;
}


/* =======================
   TEXT STYLES
========================= */

a {
    text-decoration: none;
    color: #939241;
}

a:hover {
    color: #ededed;
}

.content-area a{
    color: #9DB648;
}

.content-area a:hover{
    color: #939241;
}

input{
    color: #333333;
}

p {
     font-size: 1.6em;
}

table {
    font-size: 1.2em;
}

label{
    font-size: 1.2em;
}

h2 {
    color: #B7D358;
    margin-top: 0; 
    margin-bottom: 0;
    font-size: 2.4em;
}

h3 {
    color: #B7D358;
    font-size: 2.2em;
}

h4 {
    color: #fafafa;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

h5 {
    color: #B7D358;
    font-size: 1.8em;
}

.intro p, .int p, .light-text {
    color: #fafafa;
}
h1, h2, h3, h4, p, li, a{
    letter-spacing: 1px;
}

.success-message, .error-message {
    font-size: 1.4em;
    color: #fafafa;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: auto;
}

.success-message {
    background-color: #9DB648;
    border: 2px solid #7D9138;
}

.error-message {
    background-color: #f56767;
    border: 2px solid #C54442;
}

.tos {
    font-size: .8em;
}

/* =======================
   LAYOUT SHORTCUTS
========================= */
.right {
    float: right;
}

.flex,  .nav {
    display: flex;
    display: -webkit-flex;
}

.flex {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

/* =======================
   HEADER STYLES
========================= */

.hm-header {
    width: 100%;
    min-height: 120px;
    position: absolute;
    background: rgba(0,0,0,0.15);
    z-index: 100;
}

.header {
    width: 100%;
    background: #202E44;
    min-height: 140px;
    
}

.nav {
    width: 100%;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.nav li {
    margin-left: 20px;
    list-style: none;
    padding: 4px 8px;
}

.welcome {
    color: #fafafa;
    margin-right: auto;
}

.title, .title a{
    color: #fafafa;
}

.logged-out-nav li {
    font-size: 1.1em;
}

.logged-out-nav a {
    color: #ffffff;
}

.logged-out-nav a:hover {
    color: #EDEDED;
}

.current {
    background-color: #7D9138;
    border-radius: 2px;
    color: #fafafa;                 
}

/* =======================
   DROP DOWN MENU 
========================= */
/* Login Container (default to float:right) */
#loginContainer {
    position:relative;
    float:right;
    /*font-size:12px;*/
}

#loginButton:hover {
    cursor: pointer;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:-150px;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */  
#loginButton span {
    padding: 4px 8px;
}


.active {
    background-color: #161F2E;
    padding-bottom: 34px;
    padding-top: 5px;
    border-radius: 2px;
    color: #fafafa;  
}

/* Login Form */
#loginForm {
    width:248px; 
    /*border:1px solid #fafafa;*/
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    box-shadow: 4px 5px 8px #333;
    -webkit-box-shadow: 4px 5px 8px #333;
    margin-top:-1px;
    background: #161F2E;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset.body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm .body fieldset,
#loginForm .body input[type="submit"] {
    margin-left: 4px;
}

#loginForm .body .checkbox {
    margin-right: 4px;
    position: relative;
    top: 23px;
}


#loginForm .error-message,
#loginForm .success-message {
    font-size: 1em;
    padding: 5px 10px;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:right;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
    position: relative;
    top: 35px;
}

#loginForm .checkbox {
    font-size: .8em;
    position: relative;
    bottom: 12px;
    float: right;
}

.body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm .body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    margin-right: auto;
    margin-left: auto;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

#loginForm input[type="submit"] {
    width: 40%;
    color: #fafafa;
    font-size: 18px;
}

/* Sign In Button */
#loginForm #login {
    float:left;
    font-size: 18px;
    background:#7D9138;
    color:#fafafa;
    padding:7px 15px 8px 15px;
    border-radius:3px;
    -moz-border-radius:3px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:-10px 12px 0 10px;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

#loginForm #login:hover {
    background-color: #9DB648;
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#fafafa;
    font-size:12px;
}

input:focus {
    outline:none;
}

/* Search form */
#reviseSearch {
    display: none;
}

#search-button .active {
    background-color: #161F2E;
    padding-bottom: 34px;
    padding-top: 5px;
    border-radius: 2px;
    color: #fafafa;  
} 

#search-form {
    display: none;
    width:248px; 
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    box-shadow: 4px 5px 8px #333;
    -webkit-box-shadow: 4px 5px 8px #333;
    margin-top:-1px;
    background: #161F2E;
    padding:6px;
    position: absolute;
    top: 134px;
    right: 130px;
}

#search-form input {
    width:92%;
    margin-right: auto;
    margin-left: auto;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

#search-form input[type="submit"]{
    width: 40%;
    color: #fafafa;
    font-size: 18px;
}

#search-form fieldset {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#search-form p {
    font-size: 14px;
    color: #3a454d;
}

#search-form label {
    color: #3a454d;
}


/* =======================
   LIGHTBOX
========================= */
#overlay {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 312vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#regForm {
    color: #224055;
    background: #fafafa;
    border: 2px solid #7D9138;
    border-radius: 3px;
    width: 50%;
    max-width: 680px;
    padding: 0 20px 10px 20px;
    position: absolute;
    top: 80px;
    left: 25%;
    right: 25%;
    z-index: 90;
}

#close-button {
    position: relative;
    bottom: 12px;
    left: 630px;
    z-index: 91;
    cursor: pointer;
}

/* =======================
   HOME PAGE STYLES
========================= */

.boxes {
    width: 100%;
    color: #fafafa;
    font-size: 1.65em;
    display: flex;
    display: -webkit-flex;
    flex-wrap: no-wrap;
    -webkit-flex-wrap: no-wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    top: 120px;
}

.boxes li{
    list-style: none;
    border: 3px solid #fafafa;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    width: auto;
    min-width: 250px;
    max-width: 500px;
    height: 170px;
    margin-right: 50px;
    padding: 40px 10px;
    z-index: 1;
}

.boxes a{
    color: #fafafa;
}

.find {
    background-color: rgba(68,89,38,.7);
}   
.sell {
    background-color: rgba(125,145,56,.7);
}    

.intro {
    background: #161F2E;
    padding: 20px;
    position: relative;
    z-index: 2;
    
}

/* =======================
   CONTENT STYLES
========================= */
.container, .text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.text, .success-message, .error-message {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.table{
    margin-left: auto;
    margin-right: auto;
}

.content-area, .welcome-area {
    padding: 20px;
    z-index: 0;
}

.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 2em;
    color: #202E44;
    background: rgba(250,250,250,0.57);
    width: 90%;
    align-self: flex-end;
    -webkit-align-self: flex-end;
}

.content-area {
    background: #202E44 url('../img/house-row-blur.jpg') no-repeat center;            
    background-size: cover;
    min-height: 65vh;
    background-attachment: fixed;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.welcome-area {
    background: #DCDCDC url('../img/house-row.jpg') no-repeat center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.darken-bg {
    background: rgba(0, 0, 0, 0.16);
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #384047;
    border-bottom: 1px solid #384047;
}
/* =======================
   FOOTER STYLES
========================= */

.footer {
    background: #202E44;
    width: 100%;
    height: 10vh;
    min-height: 50px;
    z-index: 100;
}

.footer-nav {
    float: right;
}

.footer-nav li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

.footer-nav a{
    color: #939241;
}

.footer-nav a:hover{
    color: #EDEDED;
}

/* =======================
   FORM STYLES
========================= */

input {
    margin-top: 8px;
    margin-bottom: 20px;
}

input[type=submit] {
    font-size: 1.2em;
    background:#7D9138;
    color:#fafafa;
    padding:7px 15px 8px 15px;
    border-radius:3px;
    -moz-border-radius:3px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    cursor:pointer;
}

input[type=submit]:hover {
    background-color: #9DB648;
}

.columns::after {
    content: " ";
    display: table;
    clear: both;
}

.col{
    float: left;
    width: 40%;
    min-width: 230px;
}

.col:last-child{
    width: 60%;
}

label.field-with-error{ 
    color: #C54442; 
}

input.field-with-error{ 
    background-color: #f56767; 
}

.add_to_cart{ 
    cursor: pointer; 
    cursor: hand; 
    color: #9DB648;
}

/* =======================
   TABLE STYLES
========================= */
th{
    text-align: center;
    font-weight: bold;
    padding: 15px 30px;
    background: #9DB648;
}

td{
    padding: 1.2em 1.4em;
    text-align: center;
    font-size: .9em;
}

tr:nth-child(odd){
    background: rgba(0, 0, 0, 0.15);
}

tr:nth-child(even){
    background: rgba(0, 0, 0, 0.075);
}

/* =======================
   MEDIA QUERIES
========================= */

@media (max-width: 768px){
    
.boxes {
   flex-direction: column;
   -webkit-flex-direction: column;
   font-size: 1.4em;
   height: auto;
}   

.boxes li{
    width: 180px;
    padding: 5px 10px;
    margin: 15px;
}

.page-title {
    font-size: 1.6em;
    left: 5%;
}
    
p {
    font-size: 1em;
}
    
}
    
@media (max-width: 360px){
    
.boxes {
    display: hidden;
}
.footer-nav {
    float: left;
}
    
}




    





