/* =======================
   GLOBAL STYLES
========================= */
body {
    width: 100%;
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    line-height: 22px;
}


html, body {
    min-height: 100vh;
}

button {
    background-color: #7D9138;
    padding: 4px 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: none;
}

button:hover{
     background-color: #9DB648;
}


/* =======================
   TEXT STYLES
========================= */

a {
    text-decoration: none;
    color: #939241;
}

a:hover {
    color: #ededed;
}

.form-link {
    color: #8CA96A;
}

.form-link:hover {
    color: #AFD484;
}

.content-area a{
    color: #9DB648;
}

.content-area a:hover{
    color: #939241;
}

input{
    color: #333333;
}

p {
     font-size: 16px;
     color: #fafafa;
}

table {
    font-size: 1.2em;
}

h1 {
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    font-size: 36px;
}

h2 {
    font-family: 'Quattrocento', serif;
    font-size: 24px;
    color: #B7D358;
    margin-top: 0; 
    margin-bottom: 0;
    font-weight: 400;
}

h3 {
    font-family: 'Quattrocento', serif;
    color: #B7D358;
    font-size: 22px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 0px
}

h4 {
    font-family: 'Quattrocento', serif;
    color: #5077af;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
}

h5 {
    font-family: 'Quattrocento', serif;
    color: #B7D358;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 0;
}

.intro p, .int p, .light-text {
    color: #fafafa;
}

.success-message, .error-message {
    font-size: 1.4em;
    color: #fafafa;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: auto;
}

.success-message {
    background-color: #9DB648;
    border: 2px solid #7D9138;
}

.error-message {
    background-color: #f56767;
    border: 2px solid #C54442;
}

.tos {
    font-size: .8em;
}

.dark-text{
    color: #224055;
}

/* =======================
   LAYOUT SHORTCUTS
========================= */
.right {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.left {
    float: left;
}

.center, .center img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.flex,  .nav {
    display: flex;
    display: -webkit-flex;
}

.flex {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.columns::after {
    content: " ";
    display: table;
    clear: both;
}

.col{
    float: left;
    width: 50%;
    min-width: 200px;
}

.col-2 {
    width: 90%;
    margin: 5px auto;
    clear: left;
}


.inline {
    display: inline;
    width: auto;
    margin-right: 5px;
}

.full-width {
    width: 375px;
}

/* =======================
   HEADER STYLES
========================= */

.hm-header {
    width: 100%;
    min-height: 120px;
    position: absolute;
    background: rgba(0,0,0,0.15);
    z-index: 100;
}

.header {
    width: 100%;
    background: #202E44;
    min-height: 140px;
    
}

.nav {
    width: 100%;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.nav li {
    margin-left: 20px;
    list-style: none;
    padding: 4px 8px;
}

.welcome {
    color: #fafafa;
    margin-right: auto;
}

.title, .title a{
    color: #fafafa;
}

.logged-out-nav a {
    color: #ffffff;
}

.logged-out-nav a:hover {
    color: #EDEDED;
}

.current {
    background-color: #7D9138;
    border-radius: 2px;
    color: #fafafa;                 
}

/* =======================
   DROP DOWN MENU 
========================= */
#reviseSearch {
    display: none;
}

#login-button,
#search-button{
    padding-left: 5px;
    padding-right: 5px;
}

.active {
    background-color: #161F2E;
    padding-bottom: 34px;
    padding-top: 5px;
    border-radius: 2px;
    color: #fafafa;  
} 

#login-form,
#search-form {
    display: none;
    width:248px; 
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    box-shadow: 4px 5px 8px #333;
    -webkit-box-shadow: 4px 5px 8px #333;
    margin-top:-1px;
    background: #161F2E;
    padding:6px;
    position: absolute;
    top: 134px;
    right: 130px;
}

#login-form input,
#search-form input {
    width:92%;
    margin-right: auto;
    margin-left: auto;
    font-size:12px;
}

#login-form input[type="submit"]{
    width: 40%;
    color: #fafafa;
    font-size: 18px;
}

#search-form input[type="submit"]{
    width: 40%;
    color: #fafafa;
    font-size: 18px;
}

#login-form fieldset,
#search-form fieldset {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#login-form label,
#search-form label {
    color: #3a454d;
}

#login-form p,
#login-form a,
#search-form p {
    font-size: 14px;
    color: #3a454d;
}

.checkbox {
    position: relative;
    bottom: 10px;
    left: 13px;
    font-size: 14px;
}

#checkbox {
    position: relative;
    bottom: 62px;
    left: 105px;
}


/* =======================
   LIGHTBOX
========================= */
#overlay {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 312vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#regForm {
    color: #224055;
    background: #fafafa;
    border: 2px solid #7D9138;
    border-radius: 3px;
    width: 30%;
    min-width: 450px;
    padding: 10px 0px;
    position: absolute;
    top: 80px;
    left: 35%;
    right: 35%;
    z-index: 90;
}

#close-button {
    position: absolute;
    right: -15px;
    top: -15px;
    z-index: 91;
    cursor: pointer;
}

/* =======================
   HOME PAGE STYLES
========================= */
.small-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
}

.green-boxes li {
    margin-right: 30px;
    list-style: none;
}   

.intro {
    background: #161F2E;
    padding: 20px;
    position: relative;
    z-index: 2;
    
}

/* =======================
   CONTENT STYLES
========================= */
.container, .text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.text, .success-message, .error-message {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.table{
    margin-left: auto;
    margin-right: auto;
}

.content-area, .welcome-area {
    padding: 20px 0 20px 0;
    z-index: 0;
}

.page-title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 2em;
    color: #202E44;
    background: rgba(250,250,250,0.57);
    width: 90%;
    align-self: flex-end;
    -webkit-align-self: flex-end;
}

.content-area {
    background: #202E44 url('../img/house-row-blur.jpg') no-repeat center;            
    background-size: cover;
    min-height: 65vh;
    background-attachment: fixed;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.welcome-area {
    background: #DCDCDC url('../img/house-row.jpg') no-repeat center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.darken-bg {
    background: #151F2E;
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #384047;
    border-bottom: 1px solid #384047;
}
/* =======================
   FOOTER STYLES
========================= */

.footer {
    background: #202E44;
    width: 100%;
    height: 10vh;
    min-height: 50px;
    z-index: 100;
}

.footer-nav {
    float: right;
}

.footer-nav li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

.footer-nav a{
    color: #939241;
}

.footer-nav a:hover{
    color: #EDEDED;
}

/* =======================
   FORM STYLES
========================= */
input{
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
}

textarea{
    min-width: 400px;
    min-height: 200px;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
}

input {
    margin-top: 8px;
    margin-bottom: 20px;
}

input[type=submit] {
    padding: 8px 10px;
    background: #7D9138;
    color: #ffffff;
    font-size: 1.2em;
    border: none;
}

input[type=submit]:hover {
    background-color: #9DB648;
}

#contact-form label {
    color: #fafafa;
}

#contact-form select{
    color: #3a454d;
}

label.field-with-error{ 
    color: #C54442; 
}

input.field-with-error{ 
    background-color: #f56767; 
}

.add_to_cart{ 
    cursor: pointer; 
    cursor: hand; 
    color: #9DB648;
}

#upload:disabled {
    background-color: #b2b2b2;
}

/* =======================
   TABLE STYLES
========================= */
th{
    text-align: center;
    font-weight: bold;
    padding: 15px 30px;
    background: #9DB648;
}

td{
    padding: 1.2em 1.4em;
    text-align: center;
    font-size: .9em;
}

tr:nth-child(odd){
    background: rgba(0, 0, 0, 0.15);
}

tr:nth-child(even){
    background: rgba(0, 0, 0, 0.075);
}

/* =======================
   MEDIA QUERIES
========================= */

@media screen and (max-width: 768px){
    .green-boxes li {float: none; margin-bottom: 8px;}
    .green-boxes {padding-top: 120px;}
    .page-title {font-size: 1.6em; left: 5px;}
    .footer {height: 55px;}
        
}

@media screen and (max-width: 736px){
    #regForm {width: 95%; left: auto; right: auto; min-width: 300px;}
}

@media screen and (max-width: 568px){
    h1 {font-size: 30px;}
    .left {float: none; margin: 0 auto;}
    .small-container{width: 100%;}
    .small-container ul{margin: 0 auto;}
    .green-boxes {padding-top: 140px;}
    .green-boxes li {margin: 0 auto;}
}
    
@media screen and (max-width: 375px){
    .logged-out-nav a{font-size: 15px;}
    .footer-nav {float: left; margin-left: -20px; padding-left: 0;}
    .green-boxes {position: relative; left: -30px;}
    .footer {height: 15vh;} 
    #login-form {right: 30px;}
}




    





