<!-- Used on all interior pages (not index.html) when the user is logged out. Be sure to include the "current" class on the <li> of the current page. -->

<div class="int header">
    <div class="flex container">
        <h1 class="title"><a href="index.html">Appraiser's Data Bank</a></h1>
            <ul class="logged-out-nav nav">
                <li><a href="log-in.html">Log In</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
                <li><a href="about.html">Learn More</a></li>
            </ul>
    </div>
</div>